rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isUserDocument(userId) {
      return request.auth.uid == userId;
    }

    function isAliBaba(){
      return request.auth.uid != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.aliBaba == true;
    }

    function dataValidation(){
      return request.resource.data.diff(resource.data).affectedKeys().hasOnly(['roles']);
    }
    match /users/{userId} {
      allow read: if isUserDocument(userId) || isAliBaba(); 
      allow update: if dataValidation() && isAliBaba();
    }
  }
}